@CHARSET "UTF-8";

@media all {
    * {
        margin: 0px;
        padding: 0px;
        outline: none;
    }

    a img {
        border: none;
    }

    body{
        font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
        font-size: 12px;
        text-align: center;
        color: #222;
        background: #ffffff;
    }

    h1 {
        position: relative;
        font-size: 30px;
        font-weight: normal;
        color: #444444;
        margin-top: 5px;
    }

    h2 {
        font-size: 20px;
        font-weight: bold;
        margin: 40px 0px 15px 0px;
        padding: 6px 10px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background: #212121;
        background: -moz-linear-gradient(top, #444444, #212121);
        background: -webkit-linear-gradient(top, #444444, #212121);
        background: -ms-linear-gradient(top, #444444, #212121);
        background: -o-linear-gradient(top, #444444, #212121);
        background: linear-gradient(top, #444444, #212121);
        color: #fff;
    }

    a {
        color: #0069ba;
        text-decoration: none;
        outline: none;
    }

    a:hover {
        color: #FF9F00;
    }

    ul, ol {
        list-style-position: inside;
    }

    #bakery-top-back {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 55px;
        width: 100%;
        background: #212121;
        background: -moz-linear-gradient(top, #444444, #212121);
        background: -webkit-linear-gradient(top, #444444, #212121);
        background: -ms-linear-gradient(top, #444444, #212121);
        background: -o-linear-gradient(top, #444444, #212121);
        background: linear-gradient(top, #444444, #212121);
        box-shadow: 0px 1px 15px #212121;
    }

    #bakery-wrapper {
        position: relative;
        width: 980px;
        overflow: hidden;
        margin: 0px auto;
        text-align: left;
        min-height: 500px;
    }

    #bakery-top {
        color: #ffffff;
        position: relative;
        height: 85px;
    }

        #bakery-top h1 {
            margin-top: 6px;
            color: #ffffff;
            font-weight: bold;
            float: left;
        }

        #bakery-topFlags {
            position: absolute;
            top: 10px;
            right: 0px;
            text-align: right;

            z-index: 10;
        }

            #bakery-topFlags a {
                margin-left: 10px;
            }

        #bakery-topMessage {
            position: absolute;
            top: 35px;
            right: 4px;
            text-align: right;
            color: #ffffff;
            z-index: 10;
        }

    #bakery-bottom {
        margin-top: 40px;
        padding: 10px 0px;
        color:#fff;
        height: 400px;
        background: #212121;
        background: -moz-linear-gradient(top, #212121, #242424);
        background: -webkit-linear-gradient(top, #212121, #242424);
        background: -ms-linear-gradient(top, #212121, #242424);
        background: -o-linear-gradient(top, #212121, #242424);
        background: linear-gradient(top, #212121, #242424);
        box-shadow: 0px 1px 15px #373737;
    }

    #flashMessage {
        display: none;
        font-size: 16px;
        font-weight: bold;
        background: #ffffff;
        background: -moz-linear-gradient(top, #ffffff, #dddddd);
        background: -webkit-linear-gradient(top, #ffffff, #dddddd);
        background: -ms-linear-gradient(top, #ffffff, #dddddd);
        background: -o-linear-gradient(top, #ffffff, #dddddd);
        background: linear-gradient(top, #ffffff, #dddddd);
        width: 280px;
        height: 120px;
        color: #222222;
        text-align: center;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

        #flashMessage div {
            position: relative;
            margin: 20px;
        }

    #bakery-home {
        clear: both;
    }

        .bakery-home-box {
            margin: 20px 20px 0px 20px;
            overflow: hidden;
            position: relative;
            width: 285px;
            float: left;
            text-align: left;
        }

            .bakery-home-box-top {
                position: relative;
                height: 16px;
                padding: 7px 10px;
                font-size: 14px;
                font-weight: normal;
                color: #ffffff;
                -webkit-border-top-left-radius: 4px;
                -webkit-border-top-right-radius: 4px;
                -moz-border-radius-topleft: 4px;
                -moz-border-radius-topright: 4px;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                text-align: center;
                background: #212121;
                background: -moz-linear-gradient(top, #444444, #212121);
                background: -webkit-linear-gradient(top, #444444, #212121);
                background: -ms-linear-gradient(top, #444444, #212121);
                background: -o-linear-gradient(top, #444444, #212121);
                background: linear-gradient(top, #444444, #212121);
            }

            .bakery-home-box-content {
                position: relative;
                background: #ffffff;
                background: -moz-linear-gradient(top, #ffffff, #dddddd);
                background: -webkit-linear-gradient(top, #ffffff, #dddddd);
                background: -ms-linear-gradient(top, #ffffff, #dddddd);
                background: -o-linear-gradient(top, #ffffff, #dddddd);
                background: linear-gradient(top, #ffffff, #dddddd);
                border: solid #999;
                border-width: 0px 1px 1px 1px;
                -webkit-border-bottom-right-radius: 4px;
                -webkit-border-bottom-left-radius: 4px;
                -moz-border-radius-bottomright: 4px;
                -moz-border-radius-bottomleft: 4px;
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;
                padding: 10px;
            }

            .bakery-home-box-content a {
                line-height: 3em;
            }

            .bakery-home-box-content img {
                vertical-align: -20%;
            }

            .bakery-home-box-content hr {
                margin: 15px 0px;
            }

    #bakery-content {
        position: relative;
        width: 980px;
    }

        #bakery-actions {
            position: relative;
            width: 237px;
            float: right;
            margin-top: 8px;
        }

            .bakery-action-box {
                position: relative;
                overflow: hidden;
                margin-bottom: 20px;
            }

                .bakery-action-box .bakery-action-box-top {
                    position: relative;
                    height: 16px;
                    padding: 7px 10px;
                    background: #212121;
                    background: -moz-linear-gradient(top, #444444, #212121);
                    background: -webkit-linear-gradient(top, #444444, #212121);
                    background: -ms-linear-gradient(top, #444444, #212121);
                    background: -o-linear-gradient(top, #444444, #212121);
                    background: linear-gradient(top, #444444, #212121);

                    -webkit-border-top-left-radius: 4px;
                    -webkit-border-top-right-radius: 4px;
                    -moz-border-radius-topleft: 4px;
                    -moz-border-radius-topright: 4px;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                }

                    .bakery-action-box .bakery-action-box-top h3 {
                        position: relative;
                        font-size: 14px;
                        font-weight: normal;
                        color: #ffffff;
                    }

                .bakery-action-box .bakery-action-box-content {
                    position: relative;
                    background: #ffffff;
                    background: -moz-linear-gradient(top, #ffffff, #dddddd);
                    background: -webkit-linear-gradient(top, #ffffff, #dddddd);
                    background: -ms-linear-gradient(top, #ffffff, #dddddd);
                    background: -o-linear-gradient(top, #ffffff, #dddddd);
                    background: linear-gradient(top, #ffffff, #dddddd);
                    border: solid #999;
                    border-width: 0px 1px 0px 1px;
                }

                .bakery-action-box .bakery-action-text {
                    padding: 10px 10px 0px 10px;
                }

                .bakery-action-box .bakery-action-buttons {
                    text-align: center;
                    padding: 10px 0px 0px 0px;
                }

                .bakery-action-box .bakery-action-form {
                    position: relative;
                    padding: 10px;
                }

                    .bakery-action-box .bakery-action-form-top {
                        position: relative;
                        height: 0px;
                    }

                    .bakery-action-box .bakery-action-form-content {
                        position: relative;
                        border: 0px 1px solid #aaa;
                        box-shadow: 1px 1px 2px #666;
                        padding: 15px;
                    }

                    .bakery-action-box .bakery-action-form-content .textBox {
                        padding: 2px;
                        color: #808080;
                        width: 180px;
                        border: 1px solid #aaa;
                        margin: 2px 0px;
                    }

                    .bakery-action-box .bakery-action-form-content a.button-small,
                    .bakery-action-box .bakery-action-form-content a.action-button-small {
                        margin: 5px auto;
                    }

                    .bakery-action-box .bakery-action-formBottom {
                        position: relative;
                        height: 0px;
                    }


                .bakery-action-box .bakery-action-box-bottom {
                    position: relative;
                    height: 5px;
                    background: #dddddd;
                    border: solid #999;
                    border-width: 0px 1px 1px 1px;
                    -webkit-border-bottom-right-radius: 4px;
                    -webkit-border-bottom-left-radius: 4px;
                    -moz-border-radius-bottomright: 4px;
                    -moz-border-radius-bottomleft: 4px;
                    border-bottom-right-radius: 4px;
                    border-bottom-left-radius: 4px;
                }

        #bakery-main {
            position: relative;
            float: left;
            width: 720px;
            margin-top: 8px;
        }

            #bakery-main h3 {
                font-size: 18px;
                font-weight: normal;
                color: #285D8B;
                margin: 20px 0px 10px 0px;
            }

    div.bakery-nav {
        position: absolute;
        top: 55px;
        right: 0px;
        vertical-align: top;
        z-index: 100;
        font-size: 14px;
    }

        ul.bakery-nav {
            position: relative;
            list-style: none;
        }

            li.bakery-nav {
                position: relative;
                display: inline-block;
                float:right;
                width: 140px;
                height: 33px;
                overflow: hidden;
                margin-right: 4px;

                -webkit-border-bottom-right-radius: 4px;
                -webkit-border-bottom-left-radius: 4px;
                -moz-border-radius-bottomright: 4px;
                -moz-border-radius-bottomleft: 4px;
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;

                box-shadow: 0px 1px 2px #212121;
            }

            ul.bakery-nav li.active {
                width: 144px;
                overflow: hidden;
            }

            ul.bakery-nav li.bakery-nav:hover {
                height: auto;
            }

                ul.bakery-nav li.bakery-nav a.bakery-nav {
                    position: relative;
                    display: inline-block;
                    width: 140px;
                    height: 30px;
                    background: #0090FF;
                    text-align: center;
                    padding-top: 8px;
                    color: #444444;

                    background: #dddddd;
                    background: -moz-linear-gradient(top, #ffffff, #dddddd);
                    background: -webkit-linear-gradient(top, #ffffff, #dddddd);
                    background: -ms-linear-gradient(top, #ffffff, #dddddd);
                    background: -o-linear-gradient(top, #ffffff, #dddddd);
                    background: linear-gradient(top, #ffffff, #dddddd);
                }

                ul.bakery-nav li.active a.active {
                    width: 144px;
                    font-weight: bold;
                }


        div.bakery-nav-submenu-wrap {
            background: #dddddd;
        }

        ul.bakery-nav-submenu {
            position: relative;
            list-style: none;
        }

            li.bakery-nav-submenu {
                position: relative;
                height: 30px;
                overflow: hidden;
                text-align: center;
            }


    div.bakery-breadcrumb-wrap {
        position: relative;
        color: #aaa;
        margin-top: 10px;
    }

        div.bakery-breadcrumb-wrap span.bakery-breadcrumb-item {
            color: #808080;
        }

        div.bakery-breadcrumb-wrap a {
            color: #aaa;
        }

        div.bakery-breadcrumb-wrap a:hover {
            color: #285D8B;
        }


    a.button-large {
        display: inline-block;
        width: 212px;
        height: 25px;
        padding-top: 8px;
        background: #0090FF;
        text-align: center;
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        text-shadow: #000000 0px 1px 1px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin: 10px;
        box-shadow: 0px 2px 4px #444;
    }

    a.button-large:hover, a.button-medium:hover, a.button-small:hover {
        background: #0090FF;
        background: -moz-linear-gradient(top, #90CCFF, #0090FF);
        background: -webkit-linear-gradient(top, #90CCFF, #0090FF);
        background: -ms-linear-gradient(top, #90CCFF, #0090FF);
        background: -o-linear-gradient(top, #90CCFF, #0090FF);
        background: linear-gradient(top, #90CCFF, #0090FF);
    }

    a.action-button-large {
        display: inline-block;
        width: 212px;
        height: 25px;
        padding-top: 8px;
        background: #FF8600;
        text-align: center;
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        text-shadow: #000000 0px 1px 1px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin: 10px;
        box-shadow: 0px 2px 4px #444;
    }

    a.action-button-large:hover, a.action-button-medium:hover, a.action-button-small:hover {
        background: #0090FF;
        background: -moz-linear-gradient(top, #FFCC90, #FF8600);
        background: -webkit-linear-gradient(top, #FFCC90, #FF8600);
        background: -ms-linear-gradient(top, #FFCC90, #FF8600);
        background: -o-linear-gradient(top, #FFCC90, #FF8600);
        background: linear-gradient(top, #FFCC90, #FF8600);
    }

    a.button-medium {
        display: inline-block;
        width: 133px;
        height: 25px;
        padding-top: 8px;
        background: #0090FF;
        text-align: center;
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        text-shadow: #000000 0px 1px 1px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin: 10px;
        box-shadow: 0px 2px 4px #444;
    }

    a.action-button-medium {
        display: inline-block;
        width: 133px;
        height: 25px;
        padding-top: 8px;
        background: #FF8600;
        text-align: center;
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        text-shadow: #000000 0px 1px 1px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin: 10px;
        box-shadow: 0px 2px 4px #444;
    }

    a.button-small {
        display: inline-block;
        width: 184px;
        height: 22px;
        padding-top: 4px;
        background: #0090FF;
        text-align: center;
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        text-shadow: #000000 0px 1px 1px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin: 10px;
        box-shadow: 0px 2px 4px #444;
    }

    a.action-button-small {
        display: inline-block;
        width: 198px;
        height: 25px;
        padding-top: 9px;
        background: #FF8600;
        text-align: center;
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        text-shadow: #000000 0px 1px 1px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin: 10px;
        box-shadow: 0px 2px 4px #444;
    }

    .helpText {
        display: none;
        color: #444;
        font-size: 13px;
        width: 460px;
        z-index: 9999;
    }

        .helpTextContent {
            background: #f9f9f9;
            padding: 4px 10px 10px 10px;
            width: 430px;
            height: auto;
        }

            .helpTextContent h1 {
                float: none;
                margin-top: 0px;
                margin-bottom: 10px;
                padding-bottom: 10px;
                color: #285D8B;
                font-size: 16px;
                font-weight: bold;
                border-bottom: 1px solid #666;
            }

            .helpTextContent h1 .helpClose {
                float: right;
                padding-top: 3px;
                cursor: pointer;
            }

            .helpTextContent p {
                margin: 10px 0px;
            }

            .helpTextContent strong {
                color:#000;
            }

            .helpTextContent a {
                font-weight: bold;
                color: #0069ba;
            }

                .helpTextContent a:hover {
                    text-decoration: underline;
                }

        .helpTextTop {
            background: #f2f2f2;
            width: 450px;
            height: 6px;
            -webkit-border-top-right-radius: 4px;
            -webkit-border-top-left-radius: 4px;
            -moz-border-radius-topright: 4px;
            -moz-border-radius-topleft: 4px;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }

        .helpTextBottom {
            background: #f2f2f2;
            width: 450px;
            height: 6px;
            -webkit-border-bottom-right-radius: 4px;
            -webkit-border-bottom-left-radius: 4px;
            -moz-border-radius-bottomright: 4px;
            -moz-border-radius-bottomleft: 4px;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }

    .bakery-list {
        position: relative;
        width: 100%;
        border-spacing: 0px;
    }

        .bakery-list th {
            color: #444;
            padding: 7px;
            font-size: 14px;
            height: 20px;
            text-align: left;

            background: #dddddd;
            background: -moz-linear-gradient(top, #f9f9f9, #dddddd);
            background: -webkit-linear-gradient(top, #f9f9f9, #dddddd);
            background: -ms-linear-gradient(top, #f9f9f9, #dddddd);
            background: -o-linear-gradient(top, #f9f9f9, #dddddd);
            background: linear-gradient(top, #f9f9f9, #dddddd);
        }

        .bakery-list th a {
            color: #444;
        }

        .bakery-list th a:hover {
            color: #0069BA;
        }

        .bakery-list td {
            padding: 8px 7px;
            border-bottom: #aaa 1px solid;
            vertical-align: middle;
        }

            .bakery-list td img {
                vertical-align: middle;
            }

    .bakery-detail-list {
        position: relative;
        border-spacing: 0px;
    }

        .bakery-detail-list th {
            color: #285D8B;
            font-size: 14px;
            font-weight: normal;
            text-align: right;
            height: 25px;
            padding-right: 20px;
        }

        .bakery-detail-list td {
            height: 25px;
            font-size: 14px;
        }


    .bakery-paginator {
        position: relative;
        margin-top: 20px;
        text-align: center;
        font-weight: bold;
        text-shadow: #ffffff 0px 1px 1px;
    }

        .bakery-paginator span.disabled {
            display: inline-block;
            background: transparent url(/img/bakery/small_button_m) top center;
            width: 98px;
            height: 24px;
            padding-top: 10px;
        }

        .bakery-paginator a {
            display: inline-block;
            background: transparent url(/img/bakery/small_button_m) top center;
            width: 98px;
            height: 24px;
            padding-top: 10px;
        }

        .bakery-paginator span a, .bakery-paginator span.current {
            display: inline-block;
            background: transparent url(/img/bakery/small_button_s) top center;
            width: 57px;
            height: 24px;
            padding-top: 10px;
        }

        .bakery-paginator span a.next, .bakery-paginator span a.prev {
            display: inline-block;
            background: transparent url(/img/bakery/small_button_m) top center;
            width: 98px;
            height: 24px;
            padding-top: 10px;
        }

        .bakery-paginator span.current {
            color: #333;
        }

    #cmsLogin {
        position: relative;
        text-align: center;
        clear: both;
        font-size: 14px;
        width: 100%;
        color: #444444;
    }

        #bakery-login-form {
            position: relative;
            margin: 0px auto;
            margin-top: 20px;
            padding-top: 20px;
            height: 160px;
            width: 450px;

            border: 1px solid #999;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;

            background: #ffffff;
            background: -moz-linear-gradient(top, #ffffff, #dddddd);
            background: -webkit-linear-gradient(top, #ffffff, #dddddd);
            background: -ms-linear-gradient(top, #ffffff, #dddddd);
            background: -o-linear-gradient(top, #ffffff, #dddddd);
            background: linear-gradient(top, #ffffff, #dddddd);
        }

            #bakery-login-form label {
                position: relative;
                display: inline-block;
                width: 80px;
                margin-right: 10px;
            }

            #bakery-login-form input {
                position: relative;
                display: inline-block;
                width: 210px;
                padding: 5px;
                margin-bottom: 10px;
                border: 1px solid #808080;
                font-size: 14px;
            }


    #bakery-form {

    }

        #bakery-form div.input {
            margin: 0px 0px 20px 0px;
        }

            #bakery-form .input label {
                display: block;
                color: #444;
                font-size: 14px;
                margin-bottom: 3px;
                text-align: left;
            }

            #bakery-form .text input,
            #bakery-form .password input,
            #bakery-form .email input,
            #bakery-form .textarea textarea,
            #bakery-form .select select {
                width: 706px;
                border: 1px solid #999999;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                padding: 6px;
                font-size: 15px;
                color: #444;
                background: #ffffff;
            }

            #bakery-form .text input:focus,
            #bakery-form .password input:focus,
            #bakery-form .email input:focus,
            #bakery-form .textarea textarea:focus,
            #bakery-form .select select:focus {
                border: 1px solid #000;
                color: #000;
            }

            #bakery-form .select select {
                position: relative;
                width: 100%;
            }

            #bakery-form .datetime {
                font-size: 20px;
                font-weight: bold;
                color: #000;
                text-align: center;
            }

            #bakery-form .datetime label {
                font-size: 14px;
                font-weight: normal;
            }

            #bakery-form .datetime select {
                border: 1px solid #999999;
                border-radius: 4px;
                padding: 6px;
                margin: 0px 10px;
                font-size: 15px;
                color: #444444;
                min-width: 70px;
                background: #ffffff;
            }

            #bakery-form .datetime #PagesPagePublishDateMonth, #bakery-form .datetime #NewsNewPublishDateMonth {
                min-width: 120px;
            }

            #bakery-form .checkbox label {
                float: left;
                margin-right: 20px;
            }

            #bakery-form .checkbox input {
                vertical-align: middle;
            }

            #bakery-form .error-message {
                background: transparent;
                color: #CC0C23;
                padding: 2px;
                font-size: 14px;
            }

            #bakery-form .error input,
            #bakery-form .error textarea {
                border: 1px solid #CC0C23;
                background-color: #FCF9F4;
            }

            #bakery-form .bakery-form-publish-info div.input {
                float: left;
                margin-right: 10px;
            }

            #keywordsRecommendation a {
                position: relative;

                color: #24374B;
                margin: 5px;
            }

            #keywordsRecommendation a:hover {
                color: #0069ba;
            }

        .bakery-form-footer {
            position: relative;
            width: 718px;
            height: 50px;
            text-align: right;
            margin-top: 20px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            background: -moz-linear-gradient(top, #ffffff, #dddddd);
            background: -webkit-linear-gradient(top, #ffffff, #dddddd);
            background: -ms-linear-gradient(top, #ffffff, #dddddd);
            background: -o-linear-gradient(top, #ffffff, #dddddd);
            background: linear-gradient(top, #ffffff, #dddddd);
            border: 1px solid #999;
        }

            .bakery-form-footer a {
                margin-left: 20px;
            }

            .bakery-form-footer a.action-button-large, .bakery-form-footer a.action-button-medium,
                .bakery-form-footer a.button-large, .bakery-form-footer a.button-medium {
                    margin-top: 8px;
            }

    .sortable-menu {
        font-size: 14px;
        list-style: none;
        line-height: 1.5em;
    }

    .sortable-menu-item {
        position: relative;
        cursor: ns-resize;
        padding: 4px 0px 10px 4px;
        margin: 0px 0px 10px 0px;
        border-bottom: 1px solid #cccccc;
    }

        .sortable-menu-item .sortable-menu-item {
            border: none;
        }

    .help {
        cursor: pointer;
    }

    .bakery-action-box-top h3 .help, h2 .help {
        position: relative;
        float: right;
    }

    .bakery-list th .help {
        position: relative;
        float: right;
    }
}

.qq-upload-list {
    display: none;
}
