@CHARSET "UTF-8";

@media all {
    #wrapper {
        background-color: #333333;
    }

    #top-bar {
        color: #eeeeee;
        padding-bottom: 5px;
    }

    #top-bar a {
        text-decoration: none;
        color: #eeeeee;
    }

    #top-bar a:hover {
        color: #ffffff;
    }

    #nav-bar {
        color: #eeeeee;
    }

    #main {
        background-color: #ffffff;
        min-height: 1400px;
    }
}
